.card-container {
  box-shadow: 10px 5px 20px black;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
}

.book-button {
  align-self: flex-end;
  background-color: #1976d2;
  color: white;
}

.card-details {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.room-image {
  height: 100px;
  width: 150px;
}
